#nav {
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    height: 8vh;
    background-color: lightcoral;
    color: white;
    text-align: center;
    z-index: 10;
    padding-left: 4vw;
}
img,
h3 {
    margin: auto 0 auto 0;
}
h3 {
    margin-left: 10px;
}

@media only screen and (max-width: 450px) {
    #heading {
        /* display: none; */
        /* font-size: medium; */
        display: block;

    }
    #nav {height: 10vh}
}

@media only screen and (max-height: 700px) {

    #nav {height: 15vh}
}
