
section{

    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    margin-top: 8vh;
    margin-bottom: 10vh;
    background-color:lightgrey;
    height: 82vh;
    padding-left: 4vw;

}




@media only screen and (max-width: 450px) {
    section{

        padding-right: 2vw;
        margin-top: 10vh;

    }

    #app-header{

        text-align: center;
    }
}


@media only screen and (max-height: 700px) {

    section{

padding-bottom:10vh;
        padding-top: 10vh;

    }
}

@media only screen and (max-width: 450px) {
    #publish {
        /* display: none; */
        /* font-size: medium; */
        display: block;

    }
}
