
section{

    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    margin-top: 8vh;
    margin-bottom: 8vh;
    background-color:lightgrey;
    height: 84vh;
    padding-left: 4vw;

}




@media only screen and (max-width: 450px) {
    section{

        padding-right: 2vw;
        margin-top: 10vh;

    }

    #app-header{

        text-align: center;
    }
}


@media only screen and (max-height: 700px) {

    section{


        padding-top: 10vh;

    }
}